@font-face {
  font-family: "Reckless Neue";
  src: url("assets/fonts/RecklessNeue-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Reckless Neue";
  src: url("assets/fonts/RecklessNeue-BookItalic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeue-Regular";
  src: url("assets/fonts/HelveticaNeue-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: "Reckless Neue", "Times New Roman", serif;
  line-height: 137%;
  background-color: #000000;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  main {
    padding: 24px;
  }
}

@media screen and (min-width: 640px) {
  main {
    padding: 48px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    padding: 64px;
  }
}

header {
  max-width: 620px;
}

h1,
h2 {
  margin: 0;
  line-height: 137%;
  font-weight: 400;
  text-indent: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  margin: 4px 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;
}

a .arrow {
  display: inline-block;
}

a:hover .arrow {
  transition: 0.1s;
  transform: rotate(-45deg);
}

a .text {
  border-bottom: 1px dotted #ffffff;
}

.smiley {
  font-size: 18px;
}

em {
  font-style: normal;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
